@CHARSET "UTF-8";

#search{
float:right;		
}




#mainContainer{
width:1000px;
min-height:100%;
background-color:#ADD8E6;		
padding:2%;
margin:auto;
overflow:auto;
}

#picsContainer{
background-color:#D3D3D3;
margin-top:2%;		
}

#pageTitle{
font-size:27px;
}

.pics{
border-style: solid;
border-width: 1px;
padding:1%; 
float:left;
font-size:12px;
margin-top:2%;
margin-right:2%;
width:30%;
word-wrap: break-word;
}

.desc-wrapper img, .desc-wrapper:first-child {
      display: none;
}

